html,
body {
    height: 100%;
}

body {
    background-image: url('..//images/FriendsNewYork.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.jumbotron {
    background-image: url('..//images/FriendsLogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
}

#image {
    margin: 20px 80px;
    width: 400px;
    height: 400px;
}