@font-face {
    font-family: gabrwffr;
    src: url(../GABRWFFR.TTF);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('..//images/FriendsNewYork.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fab803;
    font-family: gabrwffr;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    background-image: url('..//images/FriendsLogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
}

main {
    flex: 1 0 auto;
}

#image {
    margin: 20px 80px;
    width: 400px;
    height: 400px;
}

#gamePlay {
    padding: 10px;
}

#footerText {
    color: #ffffff;
    font-size: 16px;
}